/* #region------COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    color: var(--cl-white);
}
:root{
    --cl-gren: #4BC800;
    --cl-grey: #1B1B1B;
    --cl-greylight: #4A4A4A;
    --cl-red: #EE1532;
    --cl-white: #FCFFFF;
}

/* #endregion*/



/* #region------UTILITIES */

.d_flex{
    display: flex;
}
.sp_btw{
    justify-content: space-between;
}
.al_cent{
    align-items: center;
}
.just_cent{
    justify-content: center;
}
.icon{
    padding: 0.25rem;
}

/* #endregion*/

/* #region------MAIN */
#app_main{
    background-color: black;
    height: 92vh;
}
.container{
    width: 90vw;
    margin: auto;
    height: 100%;
}
.row{
    padding-top: 5rem;
    flex-wrap: wrap;
}
.col{
    width: calc(100% / 7);
    padding: .3rem;
}
.card{
    width: 100%;
    height: 7.7rem;
    background-image: url("https://picsum.photos/seed/picsum/400/200");
    background-size: cover;
    position: relative;
}
.user{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(211, 211, 211, 0.372);
    padding: .3rem;
    font-size: .8rem;
}
/* #endregion*/

/* #region------HEADER */
#app_header .views{
    position: absolute;
    right: 0;
    top: 2rem;
/*     border: dashed 2px pink;
 */}
.views_cont{
    margin-left: .5rem;
    border-radius: .5rem;
    font-size: .9rem;
    padding: .2rem .4rem;
    background-color: var(--cl-greylight);
}
/* #endregion*/

/* #region------FOOTER */
#app_footer{
    height: 8vh;
    width: 100%;
    background-color:var(--cl-grey);
    position: absolute;
    bottom: 0;
}
.audiovideo {
    width: 20%;
    height: 100%;
}
.tools{
    width: 40%;
    margin-left: -10rem;
    justify-self: center;
}
.end{
    justify-content: center;
    align-items: center;
    width: 10%;
    background-color: var(--cl-greylight);
}
.end>p{
    color: var(--cl-red);
}

#entire_icon{
    background-color: ;
    padding: 0 .75rem;
}
.icon{
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.icon>i{
    font-size: 1.5rem;
}
.icon>.icon_txt{
    font-size: .6rem;
}
.icon>i, .icon>span{
    padding: .2rem;
}

.icon_arrow{
    font-size: .6rem;
    font-weight: bold;
    padding-left: .5rem;
}
/* #endregion*/

/* #region------commons */
/* #endregion*/

/* #region------commons */
/* #endregion*/

















